<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

<link href="/css/login_form_style.css" rel="stylesheet">
<link href="/css/sign_up_form_style.css" rel="stylesheet">
<link href="/css/modify_style.css" rel="stylesheet">

<script src="https://kit.fontawesome.com/e50b98e762.js" crossorigin="anonymous"></script>
<meta charset="UTF-8">
<title>Insert title here</title>

<th:block layout:fragment="javascript"></th:block>

</head>
<body>
    <div layout:fragment="content" class="content">
    </div>
</body>
</html>