<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="/css/kakao_detail_style.css" rel="stylesheet">

</head>
<body>
	<div class="kakao_detail">
		<div class="kakao_detail_form">
			<div class="kakao_detail_daytime">
				<h1 th:text="${daytime}"></h1>
			</div>
			<div class="kakao_detail_img">
				<img th:src="${img}">
			</div>
			<div class="kakao_detail_tid">
				주문번호: <span th:text="${tid}"></span>
			</div>
			<div class="kakao_detail_title">
				상품명: <span th:text="${title}"></span>
			</div>
			<div class="kakao_detail_title_price">
				가격: <span th:text="${price}"></span>원
			</div>
		</div>
	</div>


</body>
</html>